{% extends 'base.html' %}

{% block content %}
<h2>Client Management</h2>
<form method="POST" class="post-form">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{ field.errors }}
        <label>{{ field.label }}</label>
        <div class="controls">{{ field }}</div>
    </div>
    {% endfor %}

    {{ address.management_form }}
    {% for address_form in address.forms %}
    {% for field in address_form.hidden_fields %}
    <div class="form-group col">
        {{ field.errors }}
        <div class="controls">{{ field }}</div>
    </div>
    {% endfor %}

    <div class="form-row">
        {% for field in address_form.visible_fields %}
        <div class="form-group col">
            {{ field.errors }}
            <label>{{ field.label }}</label>
            <div class="controls">{{ field }}</div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}