{% extends 'base.html' %}

{% block content %}
<div class="row">
    <h2>Client Details</h2>
</div>

<div class="card">
  <h5 class="card-header">{{ client.client_name }}</h5>
  <div class="card-body">
      <p class="card-text"><strong>Email:</strong> {{ client.email }}</p>
      <p class="card-text"><strong>Phone Number:</strong> {{ client.phone_number }}</p>
      {% for address in client.addresses %}
        <p class="card-text"><strong>Address:</strong> {{ address }}</p>
      {% endfor %}
    <a href="{% url 'client-edit' client.id%}" class="btn btn-primary">Edit</a>
  </div>
</div>
{% endblock %}
