{% extends 'base.html' %}

{% block content %}
<div class="row p-4">
    <div class="col-md-4">
        <h2>List of Client</h2>
    </div>
    <div class="col-md-6">
        <form method="GET" action="/clients" class="search-form">
            <div class="row">
                {% for field in search.visible_fields %}
                <div class="col">
                    {{ field.errors }}
                    <div>{{ field }}</div>
                </div>
                {% endfor %}
                <div class="col">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>
        <div class="col-md-2">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort By
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/clients/?sort_by=client_name">Name</a>
                <a class="dropdown-item" href="/clients/?sort_by=email">Email</a>
                <a class="dropdown-item" href="/clients/?sort_by=phone_number">Phone Number</a>
                <a class="dropdown-item" href="/clients/?sort_by=suburb">Suburb</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Client Name</th>
            <th scope="col">Contact Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Addresses</th>
        </tr>
        </thead>
        {% for client in object_list %}
        <tr>
            <th scope="row">{{ client.id }}</th>
            <td>
                <a href="{% url 'client-detail' client.id%}">
                    {{ client.client_name }}
                </a>
            </td>
            <td>{{ client.contact_name }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.phone_number }}</td>
            <td>
                <ul>
                    {% for address in client.addresses %}
                    <li>{{ address }}</li>
                    {% endfor %}
                </ul>
            </td>
        <tr/>
        {% endfor %}
    </table>
</div>
{% endblock %}
